In [1]:
import os
import sys
import warnings
import pandas as pd
from tqdm.notebook import tqdm

base_path = os.path.abspath(os.path.join(os.getcwd(), ".."))
print(f"base_path: {base_path}")
sys.path.append(base_path)

base_path: /home/toc3/sr-press

In [2]:
import express.config as config
from express.databases import SQLiteDatabase
from express.datasets import PressingDataset
from express.utils import add_names

In [3]:
TRAIN_DB_PATH = os.path.join(base_path, "stores/train_database.sqlite")
TEST_DB_PATH = os.path.join(base_path, "stores/test_database.sqlite")

train_db = SQLiteDatabase(TRAIN_DB_PATH)
test_db = SQLiteDatabase(TEST_DB_PATH)

print("train_db:", train_db)
print("test_db:", test_db)

train_db: <express.databases.sqlite.SQLiteDatabase object at 0x7f0beda4be80>
test_db: <express.databases.sqlite.SQLiteDatabase object at 0x7f0beda4bb80>

In [4]:
game_id = 3895302

df_actions = add_names(train_db.actions(game_id))
df_actions

                                      original_event_id  period_id  \
game_id action_id
3895302 0          221b0c8d-6386-4ae8-bb4a-a1dc98742312          1
        1          77809242-1460-4395-8779-94a0cfc275b1          1
        2          ff56e821-21e9-4cef-ba2a-7eb5eb3769c6          1
        3          cf9088bc-7e59-4d57-8ac5-31658da858bb          1
        4          4464cb75-f45f-4508-8444-2560d1625d06          1
...                                                 ...        ...
        3025       4e61f75d-564b-4478-a2f0-4b7e20e8600e          2
        3026                                       None          2
        3027       91466764-aec7-4fac-a024-dd3deee3c737          2
        3028       e75b1a76-8aca-461f-846f-70b8b9e35fa9          2
        3029       dcc0c591-7ebd-4e42-8206-04bfefa94f33          2

                   time_seconds  team_id  player_id  start_x  start_y  \
game_id action_id
3895302 0                3.4170      176      34870  52.0625   33.660
        1                3.8700      176      12299  53.8125   34.340
        2                4.7320      176      12299  53.8125   34.085
        3                6.7280      176      31100  74.7250   36.295
        4                7.6220      176      31100  74.7250   36.720
...                         ...      ...        ...      ...      ...
        3025          2661.1130      904      10336  57.4000   45.220
        3026          2661.7455      176      24179  55.1250   44.795
        3027          2662.5800      904      40724  77.7875   21.335
        3028          2662.8440      176      24179  84.0875   19.890
        3029          2665.0790      904      40724  92.6625   26.945

                      end_x    end_y  bodypart_id  ...  possession_team_id  \
game_id action_id                                  ...
3895302 0           53.8125  34.3400            5  ...               176.0
        1           53.8125  34.0850            0  ...               176.0
        2           74.7250  36.2950            5  ...               176.0
        3           74.7250  36.7200            0  ...               176.0
        4           76.3875  53.8050            5  ...               176.0
...                     ...      ...          ...  ...                 ...
        3025        77.7875  21.3350            4  ...               904.0
        3026        84.0875  19.8900            0  ...                 NaN
        3027        92.6625  26.9450            0  ...               904.0
        3028        84.0875  19.8900            0  ...               904.0
        3029       104.5625  35.9975            5  ...               904.0

                   play_pattern_name  under_pressure  \
game_id action_id
3895302 0              From Kick Off               0
        1              From Kick Off               0
        2              From Kick Off               0
        3              From Kick Off               0
        4              From Kick Off               0
...                              ...             ...
        3025            From Counter               0
        3026                    None               0
        3027            From Counter               1
        3028            From Counter               0
        3029            From Counter               0

                                                               extra  \
game_id action_id
3895302 0          {'pass': {'recipient': {'id': 12299, 'name': '...
        1                  {'carry': {'end_location': [59.0, 40.6]}}
        2          {'pass': {'recipient': {'id': 31100, 'name': '...
        3                  {'carry': {'end_location': [35.1, 43.7]}}
        4          {'pass': {'recipient': {'id': 51769, 'name': '...
...                                                              ...
        3025       {'pass': {'recipient': {'id': 40724, 'name': '...
        3026                                                     NaN
        3027              {'carry': {'end_location': [106.4, 48.8]}}
        3028                                                      {}
        3029       {'shot': {'statsbomb_xg': 0.28999847, 'end_loc...

                                                    visible_area_360  \
game_id action_id
3895302 0                                                       None
        1                                                       None
        2          [[90.44126933110154, 68.0], [67.695055809645, ...
        3          [[94.70003623525969, 68.0], [70.82236198763701...
        4          [[96.23592025888192, 68.0], [71.95638033011264...
...                                                              ...
        3025                                                    None
        3026                                                    None
        3027                                                    None
        3028       [[85.50768897470688, 53.64552753602724], [105....
        3029       [[94.01475924049035, 0.0], [71.07503975424488,...

                  in_visible_area_360  \
game_id action_id
3895302 0                           0
        1                           0
        2                           1
        3                           1
        4                           1
...                               ...
        3025                        0
        3026                        0
        3027                        0
        3028                        1
        3029                        1

                                                    freeze_frame_360  \
game_id action_id
3895302 0                                                       None
        1                                                       None
        2          [{'teammate': True, 'actor': False, 'keeper': ...
        3          [{'teammate': True, 'actor': True, 'keeper': F...
        4          [{'teammate': True, 'actor': False, 'keeper': ...
...                                                              ...
        3025                                                    None
        3026                                                    None
        3027                                                    None
        3028       [{'teammate': True, 'actor': False, 'keeper': ...
        3029       [{'teammate': False, 'actor': False, 'keeper':...

                   type_name result_name bodypart_name
game_id action_id
3895302 0               pass     success    foot_right
        1            dribble     success          foot
        2               pass     success    foot_right
        3            dribble     success          foot
        4               pass     success    foot_right
...                      ...         ...           ...
        3025            pass     success     foot_left
        3026         dribble     success          foot
        3027         dribble     success          foot
        3028        pressing        fail          foot
        3029            shot     success    foot_right

[3030 rows x 22 columns]

In [5]:
df_actions[df_actions["type_id"] == config.actiontypes.index("pressing")]

                                      original_event_id  period_id  \
game_id action_id
3895302 6          cfa1f5e1-4e8e-4fc2-bbc8-4df5fdef8283          1
        11         a43fa179-91f5-4b22-9f74-7f20af0570e4          1
        17         533ffee0-b9fc-4065-a9db-cb729523d926          1
        20         c615b3b6-58de-4f77-8190-f0d7f80bbcff          1
        36         c5957688-d15c-47bf-939d-95333ddc53d4          1
...                                                 ...        ...
        3010       e8a3f722-0ea4-4c66-a1fe-b6bb58903d9c          2
        3018       a4b0bb5c-cc11-45b7-8e69-517b89c6bcc6          2
        3021       4ef92e5a-44e5-4ff4-b457-3c52d96d546e          2
        3024       f908d853-a3e9-4ad7-99b4-6aef1f3e3286          2
        3028       e75b1a76-8aca-461f-846f-70b8b9e35fa9          2

                   time_seconds  team_id  player_id  start_x  start_y  \
game_id action_id
3895302 6                 9.637      904      33401  74.3750   55.335
        11               12.832      904      30606  48.2125   55.845
        17               15.552      904       8221  44.1875   54.995
        20               16.383      904       9195  50.0500   51.000
        36               41.294      176       8784  53.2875   10.625
...                         ...      ...        ...      ...      ...
        3010           2635.170      176      52124  58.2750    5.100
        3018           2652.619      904      28268  18.4625   50.150
        3021           2653.918      904      10336  19.0750   47.600
        3024           2660.647      176      12299  55.1250   44.795
        3028           2662.844      176      24179  84.0875   19.890

                     end_x   end_y  bodypart_id  ...  possession_team_id  \
game_id action_id                                ...
3895302 6          74.3750  55.335            0  ...               176.0
        11         48.2125  55.845            0  ...               176.0
        17         44.1875  54.995            0  ...               176.0
        20         50.0500  51.000            0  ...               176.0
        36         53.2875  10.625            0  ...               904.0
...                    ...     ...          ...  ...                 ...
        3010       58.2750   5.100            0  ...               904.0
        3018       18.4625  50.150            0  ...               176.0
        3021       19.0750  47.600            0  ...               176.0
        3024       55.1250  44.795            0  ...               904.0
        3028       84.0875  19.890            0  ...               904.0

                   play_pattern_name  under_pressure extra  \
game_id action_id
3895302 6              From Kick Off               0    {}
        11             From Kick Off               0    {}
        17             From Kick Off               0    {}
        20             From Kick Off               0    {}
        36              Regular Play               0    {}
...                              ...             ...   ...
        3010             From Keeper               0    {}
        3018            Regular Play               0    {}
        3021            Regular Play               0    {}
        3024            From Counter               0    {}
        3028            From Counter               0    {}

                                                    visible_area_360  \
game_id action_id
3895302 6          [[55.066665754930455, 23.91276629088182], [55....
        11         [[49.163592429021435, 27.793803667302768], [43...
        17         [[43.36676102543239, 24.81271918222688], [32.0...
        20         [[40.910829695169525, 20.64312315056911], [27....
        36                                                      None
...                                                              ...
        3010       [[63.52152821055386, 46.12911961031962], [80.3...
        3018       [[0.0, 0.0], [0.0, 48.41363281770536], [15.253...
        3021       [[0.0, 0.0], [0.0, 46.68727699949346], [16.498...
        3024       [[69.96011217490444, 60.1561831423604], [102.6...
        3028       [[85.50768897470688, 53.64552753602724], [105....

                  in_visible_area_360  \
game_id action_id
3895302 6                           1
        11                          1
        17                          1
        20                          1
        36                          0
...                               ...
        3010                        1
        3018                        1
        3021                        1
        3024                        1
        3028                        1

                                                    freeze_frame_360  \
game_id action_id
3895302 6          [{'teammate': False, 'actor': False, 'keeper':...
        11         [{'teammate': True, 'actor': True, 'keeper': F...
        17         [{'teammate': True, 'actor': False, 'keeper': ...
        20         [{'teammate': True, 'actor': False, 'keeper': ...
        36                                                      None
...                                                              ...
        3010       [{'teammate': True, 'actor': False, 'keeper': ...
        3018       [{'teammate': True, 'actor': False, 'keeper': ...
        3021       [{'teammate': True, 'actor': False, 'keeper': ...
        3024       [{'teammate': True, 'actor': False, 'keeper': ...
        3028       [{'teammate': True, 'actor': False, 'keeper': ...

                   type_name result_name bodypart_name
game_id action_id
3895302 6           pressing        fail          foot
        11          pressing        fail          foot
        17          pressing        fail          foot
        20          pressing        fail          foot
        36          pressing        fail          foot
...                      ...         ...           ...
        3010        pressing        fail          foot
        3018        pressing        fail          foot
        3021        pressing        fail          foot
        3024        pressing     success          foot
        3028        pressing        fail          foot

[432 rows x 22 columns]

In [6]:
from express import features as fs
from express import labels as ls

all_features = [f.__name__ for f in fs.all_features]
all_labels = [f.__name__ for f in ls.all_labels]
print("Features:", all_features)
print("Labels:", all_labels)

Features: ['actiontype_onehot', 'result_onehot', 'bodypart_onehot', 'time', 'startlocation', 'relative_startlocation', 'endlocation', 'relative_endlocation', 'startpolar', 'endpolar', 'movement', 'team', 'time_delta', 'space_delta', 'goalscore', 'angle', 'under_pressure', 'packing_rate', 'ball_height_onehot', 'player_possession_time', 'speed', 'nb_opp_in_path', 'dist_opponent', 'defenders_in_3m_radius', 'closest_3_players']
Labels: ['concede_shots', 'counterpress']

In [7]:
train_dataset = PressingDataset(
    path= os.path.join(base_path, "stores", "datasets", "train"),
    xfns=["closest_3_players"],#["startlocation", "time", "goalscore", "defenders_in_3m_radius", "dist_opponent"], #all_features
    yfns=["counterpress"], #all_labels
    load_cached =False,
    nb_prev_actions = 1,
)

test_dataset = PressingDataset(
    path= os.path.join(base_path, "stores", "datasets", "test"),
    xfns=["closest_3_players"],#["startlocation", "time", "goalscore", "defenders_in_3m_radius", "dist_opponent"], #all_features
    yfns=["counterpress"], #all_labels
    load_cached =False,
    nb_prev_actions = 1
)

In [8]:
train_dataset.create(train_db)
test_dataset.create(test_db)

Output()

In [ ]:
train_dataset.features

                   start_x_a0  start_y_a0  period_id_a0  time_seconds_a0  \
game_id action_id
3788741 3             41.7375      61.285             1            6.751
        19            84.5250      59.500             1           37.956
        27            27.2125      13.940             1           58.802
        31            75.7750      60.690             1           60.203
        35            79.9750      58.055             1           61.426
...                       ...         ...           ...              ...
3943043 2283          82.0750      20.230             2         2708.273
        2286          34.3000      61.710             2         2727.904
        2302          47.7750      31.790             2         2834.844
        2304          49.6125      35.700             2         2835.236
        2309           8.6625      64.260             2         2866.263

                   time_seconds_overall_a0  goalscore_team  \
game_id action_id
3788741 3                            6.751               0
        19                          37.956               0
        27                          58.802               0
        31                          60.203               0
        35                          61.426               0
...                                    ...             ...
3943043 2283                      5408.273               2
        2286                      5427.904               1
        2302                      5534.844               2
        2304                      5535.236               2
        2309                      5566.263               2

                   goalscore_opponent  goalscore_diff  \
game_id action_id
3788741 3                           0               0
        19                          0               0
        27                          0               0
        31                          0               0
        35                          0               0
...                               ...             ...
3943043 2283                        1               1
        2286                        2              -1
        2302                        1               1
        2304                        1               1
        2309                        1               1

                   nb_defenders_start_3m_a0  nb_defenders_end_3m_a0  \
game_id action_id
3788741 3                                 1                       1
        19                                1                       1
        27                                2                       2
        31                                1                       1
        35                                1                       1
...                                     ...                     ...
3943043 2283                              0                       0
        2286                              1                       1
        2302                              1                       1
        2304                              1                       1
        2309                              0                       0

                   dist_defender_start_a0  dist_defender_end_a0  \
game_id action_id
3788741 3                        0.989354              0.989354
        19                       2.611853              2.611853
        27                       2.145420              2.145420
        31                       1.782490              1.782490
        35                       2.253619              2.253619
...                                   ...                   ...
3943043 2283                    11.499700             11.499700
        2286                     2.046366              2.046366
        2302                     2.992625              2.992625
        2304                     2.553568              2.553568
        2309                     6.164825              6.164825

                   dist_defender_action_a0
game_id action_id
3788741 3                         0.989354
        19                        2.611853
        27                        2.145420
        31                        1.782490
        35                        2.253619
...                                    ...
3943043 2283                     11.499700
        2286                      2.046366
        2302                      2.992625
        2304                      2.553568
        2309                      6.164825

[36948 rows x 13 columns]

In [ ]:
test_dataset.features

                   start_x_a0  start_y_a0  period_id_a0  time_seconds_a0  \
game_id action_id
3857254 4             35.6125      44.200             1            3.176
        14            29.7500      28.305             1           46.607
        17            30.8875      13.940             1           48.091
        22            17.1500      60.095             1           53.902
        34            86.0125      58.395             1          107.540
...                       ...         ...           ...              ...
3869685 3013          62.9125      41.735             4         1069.608
        3020          13.6500      52.105             4         1077.434
        3031          45.8500      44.625             4         1125.047
        3041           3.9375      17.935             4         1136.824
        3045           6.3000      21.760             4         1138.487

                   time_seconds_overall_a0  goalscore_team  \
game_id action_id
3857254 4                            3.176               0
        14                          46.607               0
        17                          48.091               0
        22                          53.902               0
        34                         107.540               0
...                                    ...             ...
3869685 3013                      9169.608               3
        3020                      9177.434               3
        3031                      9225.047               3
        3041                      9236.824               3
        3045                      9238.487               3

                   goalscore_opponent  goalscore_diff  \
game_id action_id
3857254 4                           0               0
        14                          0               0
        17                          0               0
        22                          0               0
        34                          0               0
...                               ...             ...
3869685 3013                        3               0
        3020                        3               0
        3031                        3               0
        3041                        3               0
        3045                        3               0

                   nb_defenders_start_3m_a0  nb_defenders_end_3m_a0  \
game_id action_id
3857254 4                                 1                       1
        14                                0                       0
        17                                0                       0
        22                                0                       0
        34                                0                       0
...                                     ...                     ...
3869685 3013                              0                       0
        3020                              1                       1
        3031                              0                       0
        3041                              0                       0
        3045                              0                       0

                   dist_defender_start_a0  dist_defender_end_a0  \
game_id action_id
3857254 4                        1.458461              1.458461
        14                       5.482552              5.482552
        17                       4.766174              4.766174
        22                       7.255023              7.255023
        34                       6.620258              6.620258
...                                   ...                   ...
3869685 3013                     3.687150              3.687150
        3020                     1.457132              1.457132
        3031                     3.660510              3.660510
        3041                     4.424051              4.424051
        3045                     3.264112              3.264112

                   dist_defender_action_a0
game_id action_id
3857254 4                         1.458461
        14                        5.482552
        17                        4.766174
        22                        7.255023
        34                        6.620258
...                                    ...
3869685 3013                      3.687150
        3020                      1.457132
        3031                      3.660510
        3041                      4.424051
        3045                      3.264112

[14504 rows x 13 columns]

In [ ]:
train_dataset.labels

                   shots  counterpress
game_id action_id
3788741 3          False         False
        19         False         False
        27         False         False
        31         False          True
        35         False          True
...                  ...           ...
3943043 2283       False         False
        2286       False         False
        2302       False         False
        2304       False         False
        2309       False         False

[36948 rows x 2 columns]

In [ ]:
test_dataset.labels

                   shots  counterpress
game_id action_id
3857254 4          False         False
        14         False         False
        17         False         False
        22         False         False
        34         False         False
...                  ...           ...
3869685 3013       False          True
        3020        True         False
        3031       False         False
        3041       False         False
        3045       False         False

[14504 rows x 2 columns]

In [ ]:
train_dataset.labels["counterpress"].value_counts()

False    30044
True      6904
Name: counterpress, dtype: int64

In [ ]:
test_dataset.labels["counterpress"].value_counts()

False    11515
True      2989
Name: counterpress, dtype: int64